/* Add or update in your global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#app {
  padding: 2rem;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} 